# ======================
# VS Code
# ======================
.vscode/

# ======================
# Environment
# ======================
.env
.env.*

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Virtual Environment
# ======================
ZAD/
venv/

# ======================
# Models & Embeddings
# ======================
models/
embeddings/
app/models/weights/
*.bin
*.pt
*.pth

# ======================
# Data
# ======================

# ======================
# Misc
# ======================
.pytest_cache/